$tile-size: 100px;
$grid-size: 4;

$tile-duration: 200;

$tile-colors: (
        t2: #18df00,
        t4: #5a9900,
        t8: #8c8e00,
        t16: #d38200,
        t32: #ae3900,
        t64: #931269,
        t128: #0a034c,
        t256: #0857bf,
        t512: #4cbfbc,
        t1024: #bfbcbf,
        t2048: #d3d02b
);

@mixin animation($name, $duration, $timing, $delay) {
  -webkit-animation: $name $duration $timing $delay;
  -moz-animation: $name $duration $timing $delay;
  animation: $name $duration $timing $delay;
}

@mixin animation-fill-mode($mode) {
  -webkit-animation-fill-mode: $mode;
  -moz-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}

@mixin tile {
  position: absolute;
  width: $tile-size;
  height: $tile-size;
  font: 48px/96px Arial;
  text-align: center;
}

@mixin anim-cell {
  background: transparent;
  color: transparent;
}

* {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

.hider {
  position: absolute;
  background: white;
  z-index: 10;

  &.left {
    height: $grid-size * $tile-size;
    width: 100px;
    left: 0;
    top: 100px;
  }

  &.up {
    height: 90px;
    width: $grid-size * $tile-size;
    left: 100px;
    top: 0;
    padding-top: 10px;
  }

  &.right {
    height: $grid-size * $tile-size;
    width: 100px;
    left: 100px + $grid-size * $tile-size;
    top: 100px;
  }

  &.down {
    height: 100px;
    width: $grid-size * $tile-size;
    left: 100px;
    top: 100px + $grid-size * $tile-size;
  }
}

#playfield {
  position: absolute;
  top: 100px;
  left: 100px;
  width: $grid-size * $tile-size;
  height: $grid-size * $tile-size;
}

.first, .second {
  @include tile;
}

.thing {
  @include tile;
  background: transparent;
  z-index: 5;
}

@for $y from 0 to $grid-size {
  @for $x from 0 to $grid-size {
    .t-pos-#{$x}-#{$y} {
      top: $y * $tile-size;
      left: $x * $tile-size;
    }
  }
}

.t0 {
  z-index: 5;
  background: gray;
}

@each $key, $color in $tile-colors {
  .#{$key} {
    background-color: $color;
    color: invert($color);

    &:after {
      content: str_slice('#{$key}', 2);
    }
  }
}

#restart {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 7px 17px;
  border: solid 1px #004F72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #3BA4C7;
  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5', endColorstr='#1982A5', GradientType=0);
  background-image: linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  -webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
  -moz-box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
  box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
  margin-bottom: 10px;
}

#score {
  margin-top: 10px;
}

#message {
  margin-top: 10px;
}

@import "anim-move";
@import "anim-merged";
@import "anim-new-3d";
